@import "tailwindcss";
@plugin 'flowbite/plugin';

@source "../node_modules/flowbite-svelte/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

@font-face {
  font-family: 'GothicDefault';
  src: url(../assets/fonts/Inkulinati-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothicTitle';
  src: url(../assets/fonts/newcyrillicgoth.ttf);
  font-weight: normal;
  font-style: normal;
}

/* :root {
  font-family: 'GothicDefault', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

*::selection {
    background: #df7b41;
}

*::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
    background: #2c2c2c;        /* цвет дорожки */
    margin: 4px 0;
    border-radius: 6px;
}
*::-webkit-scrollbar-thumb {
    background-color: #404040;    /* цвет плашки */
    border-radius: 6px;       /* закругления плашки */
    border: 1px solid #363636;  /* padding вокруг плашки */
    cursor: default;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #5e5e5e;    /* цвет плашки */
}

body {
  font-family: 'GothicDefault', sans-serif;
  color: #F3EFD4;

  background: linear-gradient(180deg,rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0) 40%, rgba(24, 24, 24, 1) 100%), 
                            linear-gradient(90deg,rgba(24, 24, 24, 1) 0%, rgba(24, 24, 24, 0) 35%, rgba(24, 24, 24, 0) 65%, rgba(24, 24, 24, 1) 100%), 
                            url(../assets/parchment-background.jpg);
  background-size: cover;
}

main {
  width: 100%;
  /* height: 100vh; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

cap {
  font-family: 'GothicTitle', serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.text-shd {
  text-shadow: 2px 2px 2.5px rgb(0 0 0 / 0.5);
}